body {
  background: #fafafa !important;
}

.account-summary {
  text-align: left;
  margin-bottom: 20px;
}

.follower-suggestions {
  background: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.profile-pic {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.img-circle  {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: contain;
}

.profile-status {
  max-width: 360px;
  margin-bottom: 30px;
}

.profile-posts {
  margin-top: 50px;
}

.btn-custom {
  background: transparent;
  border: 2px solid #ddd !important;
  border-radius: 4px !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  -o-border-radius: 4px !important;
}

.btn-custom:hover {
  background: #ddd !important;
}

.m-r-10 {
  margin-right: 15px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-l-30 {
  margin-left: 15px;
}

.m-l-10 {
  margin-left: 30px;
}