<div class="row">
  <div class="col-8">
    <% @posts.each do |post| %>
      <%= post.account.username %>
      <%= image_tag post.image_url, class: "img img-fluid" %></td>
    <% end %>
  </div>  
</div>
